<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10 mt-1">
    <div class="panel panel-default">
      <div class="panel-body">

        <div class="row">
          <div class class="col-xs-12">
            <p class="text-justify ph-1">
            {{ currentProblem.description }}
            </p>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-6">
            <button ng-click="upvote(currentProblem)" class="btn btn-success btn-block">
              Definitely
            </button>
          </div>
          <div class="col-xs-6">
            <button ng-click="ignore()" class="btn btn-danger btn-block">
              Meh
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-1"></div>
</div>
