<div id="dashboard">
  <nav class="navbar navbar-static-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand">
          <strong>problemhunt</strong>
        </div>
      </div>
      <div class="collapse navbar-collapse">
        <button ng-click="logout()" type="button" class="btn btn-default navbar-btn pull-right">sign out</button>
      </div>
    </div>
  </nav>
  <div class="container">
    <h1>Hunt problems @{{ organization.name }}</h1>
    <ul ng-repeat="problem in organization.problems">
      <li>{{ problem.description }} ({{ problem.upvote_count }})</li>
      <button ng-show="!problem.upvoted" ng-click="upvote(problem)" class="btn btn-primary">Upvote</button>
      <button ng-show="problem.upvoted" ng-click="downvote(problem)" class="btn btn-primary">Upvoted</button>
    </ul>
    <div class="col col-lg-6"</div>
      <h3>You're problem is not in the list? Let us know...</h3>
      <form ng-submit="submitProblem(problem)">
        <div class="form-group">
          <input class="form-control" ng-model="problem.description" type="text" name="problem" placeholder="My problem is ..." />
        </div>
        <div class="form-group">
          <button class="form-control" type="submit">Hunt it down</button> 
        </div>
      </form>
    </div>
  </div>
</div>
