<div id="dashboard">
  <nav class="navbar navbar-static-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand">
          <strong>problemhunt</strong>
        </div>
      </div>
      <div class="collapse navbar-collapse">
        <button ng-click="logout()" type="button" class="btn btn-default navbar-btn pull-right">sign out</button>
      </div>
    </div>
  </nav>
  <div class="container">
    <h1>Hunt problems @{{ organization.name }}</h1>
  </div>
</div>
