<div id="home">
  <nav class="navbar navbar-static-top" role="navigation"> 
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand">
          <strong>hangr</strong>
        </div>
      </div> <!-- !.navbar-header -->

      <div class="collapse navbar-collapse">
        <button ui-sref="login" type="button" class="btn btn-default navbar-btn pull-right">sign in</button>
      </div>
    </div> <!-- !.container-fluid -->
  </nav>

  <div id="intro" class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="jumbotron-content">
            <h1>{{ 'uvp' | translate }}</h1>
            <p class="lead">{{ 'uvp-sub' | translate }}</p>
            <p>
              <a ng-click="gotoAbout()" class="btn btn-lg" role="button">Learn more</a>
            </p>
          </div>

        </div>
      </div> <!-- !.row -->
    </div> <!-- !.container -->
      
  </div> <!-- !.jumbotron-->

  <div id="about"> 
    <div class="container">
      <h2 class="headline">Why you should care...</h2>
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet velit condimentum, viverra sapien eget, tempus ante. 
      </p>
    </div> <!-- !.container -->
  </div> <!-- !#about -->

</div> <!-- !ng-controller -->

