<div id="home">
  <nav class="navbar navbar-static-top" role="navigation"> 
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand">
          <strong>problemhunt</strong>
        </div>
      </div> <!-- !.navbar-header -->

      <div class="collapse navbar-collapse">
        <button ui-sref="login" type="button" class="btn btn-default navbar-btn pull-right">sign in</button>
      </div>
    </div> <!-- !.container-fluid -->
  </nav>
</div> <!-- !ng-controller -->

