<div id="home" class="site-wrapper">
  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">PROBLEMHUNT</h3>
          <nav>
            <ul class="nav masthead-nav" active-tab>
              <li><a ui-sref="home">Home</a></li>
              <li><a ui-sref="home.register">Join</a></li>
              <li><a ui-sref="home.login">Sign in</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div ui-view class="inner cover">
        <h2 class="cover-heading">The first step to solving any problem is acknowledging that there is an issue.</h2>
        <p class="lead">
          Do you run an organization, manage big teams, or just curious to know if people share the same problems you have?
        </p>
        <p class="lead">
          <a ui-sref="home.register" class="btn btn-lg btn-default">Join now for free</a>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Copyright ProblemHunt 2014 // <a href="https://twitter.com/problem_hunt">@problem_hunt</a>.</p>
        </div>
      </div>

    </div>

  </div>
</div>