<div class="container">
  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
      <img class="img-responsive mt-1" src="images/logo.png"/>
    </div>
    <div class="col-xs-4"></div>
  </div>
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 mt-1">

      <div class="panel panel-default">
        <div class="panel-body">
          <p class="text-uppercase text-center">
          We are an independant organization and will never disclose your private information.
          </p>
        </div>
      </div>

      <form ng-submit="login(user)" role="form">
        <div class="form-group">
          <input class="form-control" ng-model="user.email" type="text" name="user" placeholder="Username" />
        </div>
        <div class="form-group">
          <input class="form-control" ng-model="user.password" type="password" name="password" placeholder="Password" />
        </div>
        <div class="form-group">
          <input class="form-control btn btn-primary" type="submit" value="Connect" />
        </div>
      </form>

    </div>
</div>
