<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <p class="text-uppercase text-center">
        We are an independant organization and will never disclose your private information.
        <strong>To submit your problems idea about startupbus just input your email as follow "your_name@startubus.com" and the password you want, then just click connect.</strong>
        </p>
      </div>
    </div>

    <form ng-submit="login(user)" role="form">
      <div class="form-group">
        <input class="form-control" ng-model="user.email" type="text" name="user" placeholder="Username" />
      </div>
      <div class="form-group">
        <input class="form-control" ng-model="user.password" type="password" name="password" placeholder="Password" />
      </div>
      <div class="form-group">
        <input class="form-control btn btn-primary" type="submit" value="Connect" />
      </div>
    </form>
  </div>
</div>
