<div id="register" class="container-fluid">
  <form class="form-signup" ng-submit="register(user)" role="form">
    <div class="form-group">
      <input class="form-control" ng-model="user.email" type="email" name="email" placeholder="Email address" />
    </div>
    <div class="form-group">
      <input class="form-control" ng-model="user.password" type="password" name="password" placeholder="Choose a password" />
    </div>
    <div class="form-group">
      <input class="form-control btn btn-primary" type="submit" value="Join us" />
    </div>
    <div class="form-footer">
      <a ui-sref="home.login" href="#">I already have an account.</a>
    </div>
  </form>
</div>
