// Pantone 2014
$radiantorchid: #b163a3;

// Flat UI Colors
$alizarin: #e74c3c;
$carrot: #e67e22;
$peterriver: #3498db;
$sunflower: #f1c40f;
$emerald: #2ecc71;

$bg-color: $peterriver;
$secondary-color: $emerald;

